<%= turbo_stream_from @conversation %>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8"> {/* Centered column for chat */}
      <h1>Chat</h1>
      <div id="messages" data-controller="messages" class="mb-3 bg-light p-3 border rounded" style="height: 70vh; overflow-y: auto;">
        <%= render @messages %>
      </div>

      <%= turbo_frame_tag "new_message" do %>
        <%= render "messages/form", conversation: @conversation, message: Message.new %>
      <% end %>
    </div>
  </div>
</div>
